<div class="binary-container">
  <div class="binary-board">
    <div class="row">
      <span class="label">H</span>
      <div class="dots">
        <div *ngFor="let bit of hBits" class="dot" [class.on]="bit" [class.hour]="true"></div>
      </div>
    </div>
    
    <div class="row">
      <span class="label">M</span>
      <div class="dots">
        <div *ngFor="let bit of mBits" class="dot" [class.on]="bit" [class.minute]="true"></div>
      </div>
    </div>
    
    <div class="row">
      <span class="label">S</span>
      <div class="dots">
        <div *ngFor="let bit of sBits" class="dot" [class.on]="bit" [class.second]="true"></div>
      </div>
    </div>
  </div>
</div>