<div class="orbital-container">
  <div class="solar-system">
    
    <div class="sun">
      <span class="time-digital">{{ timeText }}</span>
    </div>

    <div class="orbit hour-orbit">
      <div class="planet hour-planet"></div>
    </div>

    <div class="orbit minute-orbit">
      <div class="planet minute-planet"></div>
    </div>

    <div class="orbit second-orbit">
      <div class="planet second-planet"></div>
    </div>

    <div class="orbit-track track-h"></div>
    <div class="orbit-track track-m"></div>
    <div class="orbit-track track-s"></div>

  </div>
</div>